<div id='admin-login' class="modal fade" role="dialog" style='z-index: 10000'>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class='row'>
          <div class='col-sm-12'>
            <span style='font-size: 20px; font-weight: bold'>
              Admin Re-Login
            </span>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class='row form-group'>
          <div class='col-sm-4'>
            <input type='text' maxlength='20' class='form-control' id='login_username' placeholder='Username' />
          </div>
        </div>

        <div class='row form-group'>
          <div class='col-sm-4'>
            <input type='password' maxlength='20' class='form-control' id='login_password' placeholder='Password' />
          </div>
        </div>

        <div class='row form-group'>
          <div class='col-sm-12'>
            <span style='color: red' mvc-text='error'>
            </span>
          </div>
        </div>

        <div class='row form-group'>
          <div class='col-sm-4'>
            <button class='btn btn-primary' id='login_button'>Login</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type='module'>
  import {QnD} from '/static/lib/client/core/qnd.js';
  import {io} from '/static/lib/client/core/io.js';

  (function() {
    var popts;
    var modelEl = document.getElementById('admin-login');
    var usernameEl = document.getElementById('login_username');
    var passwordEl = document.getElementById('login_password');
    var msgEl = document.getElementById('login_errMsg');
    var loginEl = document.getElementById('login_button');

    usernameEl.addEventListener('keyup', key13);
    passwordEl.addEventListener('keyup', key13);
    loginEl.addEventListener('click', login);

    function key13(ev) {
      if (ev.which == 13) {
        login();
      }
    };
    
    function login() {
      var username = usernameEl.value;
      var password = passwordEl.value;

      msgEl.innerText = '';
      
      if (!username) {
        msgEl.innertext = 'Username is required';
        return;
      }
      
      if (!password) {
        msgEl.innerText = 'Password is required';
        return;
      }

      io.post({username, password}, '/admin/login')
      .then(function(res) {
        if (res.status == 200) {
          location = res.data;
        }
        else {
          msgEl.innerText = res.data.errors.message;
        }
      })
      .catch(function(err) {
        alert(err.errMsg)
      })
    };
            
    function open() {
      _modalOpen(modalEl);
    };

    function close() {
      _modalClose(modalEl);
    };

    function popup(opts) {
      popts = opts;
      open();
    };

    function _modalOpen(el) {
      el.className="modal fade show";
      el.style.display = 'block';
      el.style['padding-right'] = '17px';
      
      document.body.className = 'modal-open';
      document.body.style['padding-right'] = '17px';
      
      this.backdropDiv = document.createElement('div');
      this.backdropDiv.className='modal-backdrop fade show';
      document.body.appendChild(this.backdropDiv); 
    };
    
    function _modalClose(el) {
      el.className="modal fade";
      el.style.display = 'none';
      el.style['padding-right'] = '0px';
      
      document.body.style['padding-right'] = '0px'
      document.body.className = '';   
      this.backdropDiv.remove();     
    };

    QnD.widgets.login = open;
  })();
</script>