{% extends "client/base.html" %}

{% block title %}
  Admin
{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    window.QnD_CSRF = '{{CSRFToken}}'
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id='qndPages'>
      {% include "./admin-manage-navbar.html" %}
      {% include "./admin-manage-tenants.html" %}
      {% include "./admin-manage-users.html" %}
      {% include "./admin-manage-migrate.html" %}
    </div>
  </div>

  {% include "client/widgets/modals.html" %}
  {% include "client/widgets/mdate.html" %}
  {% include "client/widgets/mtime.html" %}
  
  {% include "./admin-login.html" %}
{% endblock %}

{% block init %}
<script type="module" src="/static/apps/admin/views/js/admin-manage.js"></script>
{% endblock %}