<page id='admin-manage-migrate' style='display: none'>
  <section id='admin-manage-migrate-section'>
    
    <div class='row justify-content-center'>
      <div class='col-12 col-sm-6'>
        
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <div class='col-6 col-sm-4'>
                {{ buttons.btn(class='primary', mvc_click='migrateAll', text='Run All Migrations') }}
              </div>
              <div class='col-6 col-sm-3' mvc-show='runAll'>
                {{ buttons.btn(class='danger', mvc_click='abortAll', text='Abort') }}
              </div>
            </div>      
          </div>
          
          <div class='card-body'>
            <div class='row'>
              <div class='col-12 col-sm-6'>
                <div mvc-each='tenants'>
                  <div class='row mb-1' data-index='$index'>
                    <div class='col-6'>
                      <span mvc-text='tenants.$index.coname'></span>    
                    </div>
                    <div class='col-2'>
                      {{ buttons.btn(class='primary btn-sm', mvc_click='migrateOne', text='Run') }}
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-12'>
                      <span mvc-text='errors.$index'></span>    
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            
            <div class='row'>
              <div class='col-12 text-success'>
                <span mvc-text='goodMessage'></span>
              </div>
              <div class='col-12 text-danger'>
                <span mvc-text='badMessage'></span>
              </div>
            </div>         

          </div>
        </div>
        
      </div>
    </div>
  </section>
</page>
