<page id='admin-manage-tenants' style='display: none'>
  <section id='admin-manage-tenants-section'>
    <div class='row form-group justify-content-center'>
      
      <div class='col-12 col-md-6 col-lg-4 col-xl-3 mb-4'>
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <div class='col-9'>
                {{ buttons.btnsm(class='success', mvc_click='newTenant', text='+ New Tenant') }}
              </div>          
            </div>            
          </div>
          
          <div class='card-body'>
            <div class='row'>
              <div class='col-12'>
                <select mvc-each='tenants' mvc-value='tenantPK' class='form-control' size='10' style='width: 100%' mvc-disabled='tenant.code'>
                  <option mvc-option='{text: "tenants.$index.coname", value: "tenants.$index.code"}'></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class='col-12 col-md-6 col-lg-6 col-xl-6'>
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <div class='col-6 col-lg-6'>
                {{ fields.Char(type='text', id=tenant.code.id, maxlength=tenant.code.maxLength, mvc_value='tenant.code', mvc_disabled='tenantPK', label=tenant.code.verbose) }}
              </div>
              
              <div class='col-6 col-lg-3'>
                {{ fields.Boolean(id=tenant.active.id, mvc_checked='tenant.active', label=tenant.active.verbose) }}
              </div>
            </div>            
          </div>
          
          <div class='card-body'>
            <div class='row'>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.coname.id, maxlength=tenant.coname.maxLength, mvc_value='tenant.coname', label=tenant.coname.verbose) }}
              </div>
            </div>
            
            <div class='row'>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.first.id, maxlength=tenant.first.maxLength, mvc_value='tenant.first', label=tenant.first.verbose) }}
              </div>

              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.last.id, maxlength=tenant.last.maxLength, mvc_value='tenant.last', label=tenant.last.verbose) }}
              </div>
            </div>
            
            <div class='row'>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.address.id, maxlength=tenant.address.maxLength, mvc_value='tenant.address', label=tenant.address.verbose) }}
              </div>

              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.city.id, maxlength=tenant.city.maxLength, mvc_value='tenant.city', label=tenant.city.verbose) }}
              </div>
            </div>
            
            <div class='row'>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.state.id, maxlength=tenant.state.maxLength, mvc_value='tenant.state', label=tenant.state.verbose) }}
              </div>

              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.zipcode.id, maxlength=tenant.zipcode.maxLength, mvc_value='tenant.zipcode', label=tenant.zipcode.verbose) }}
              </div>
            </div>
            
            <div class='row'>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.phone.id, maxlength=tenant.phone.maxLength, mvc_value='tenant.phone', label=tenant.phone.verbose) }}
              </div>

              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=tenant.email.id, maxlength=tenant.email.maxLength, mvc_value='tenant.email', label=tenant.email.verbose) }}
              </div>
            </div>
          </div>  
          
          <div class='card-footer'>
            <div class='row mb-2'>
              <div class='col-12'>
                <span mvc-hide='tenantPK'>
                  {{ buttons.btn(class='primary', mvc_click='save', text='Create') }}
                </span>
                <span mvc-show='tenantPK'>
                  {{ buttons.btn(class='primary', mvc_click='save', text='Update') }}
                  {{ buttons.btn(class='secondary', mvc_click='migrate', text='Migrate') }}
                  {{ buttons.btn(class='danger', mvc_click='delete', text='Delete') }}
                </span>
                {{ buttons.btn(class='secondary', mvc_click='clear', text='Clear') }}            
              </div>
            </div>   

            <div class='row'>
              <div class='col-12 text-success'>
                <span mvc-text='goodMessage'></span>
              </div>
              <div class='col-12 text-danger'>
                <span mvc-text='badMessage'></span>
              </div>
            </div>         
          </div>
        </div>
        
        <div class='row'>
          <div class='d-block d-sm-none'>XS</div>
          <div class='d-none d-sm-block d-md-none'>SM</div>
          <div class='d-none d-md-block d-lg-none'>MD</div>
          <div class='d-none d-lg-block d-xl-none'>LG</div>
          <div class='d-none d-xl-block'>XL</div>
        </div>

        <div class='row form-group' mvc-xshow='this.model.errors._verify.length > 0'>
          <div class='col-12'>
            <table class='table'>
              <thead>
                <tr>
                  <th>
                    Model
                  </th>
                  <th>
                    Error(s)
                  </th>
                </tr>
              </thead>
              <tbody mvc-each='errors._verify'>
                <tr>
                  <td>
                    <span mvc-text='errors._verify.$index.model'></span>
                  </td>
                  <td>
                    <span mvc-text='errors._verify.$index.verrs'></span>
                  </td>
                </tr>
              </tbody>
            </table> 
          </div>
        </div>
        
      </div>
    </div>
  </section>
</page>
