{% extends "project/base.html" %}

{% block title %}
  Reservations
{% endblock %}

{% block css %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<style>
  .modal-backdrop {
    background-color: #00000050;
  }

  .dropper-guests {
    height: auto;
    width: 230px;
  }

  .dropper-code {
    height: auto;
    width: 500px;
  }

  .dropper-date {
    height: auto;
    width: 500px;
    padding: 0px !important;
  }

  .dropper {
    position: relative;
  }

  .dropper-content {
    display: none;
    position: absolute;
    z-index: 1000;
    padding: .5rem 0;
    
    font-size: 1rem;
    text-align: left;
    background-color: #fff;
    border: 1px solid #00000015;
    border-radius: .25rem;
    min-width: 160px;
    height: auto;
  }

  .dropper-content.show {
    display: block;
  }

  .act-color {
    background-color: #a9d0f5;
  }

  .lodge-color {
    background-color: #bef781;
  }

  .rent-color {
    background-color: #f5a9d0;
  }

  .meal-color {
    background-color: #a9f5f2;
  }

  .trans-color {
    background-color: #d8d8d8;
  }

  .store-color {
    background-color: #f7be81;
  }

  .other-color {
    background-color: #f3f781;
  }

  .package-color {
    background-color: #00FF80;
  }

</style>

{% endblock %}

{% block script %}
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src='/~static/lib/client/core/nunjucks.js'></script>

  <script type="module">
    import {App} from '/~static/project/app.js';

    App.CSRF = '{{CSRFToken}}';
    App.USER = JSON.parse('{{USER|safe}}');
    localStorage.setItem('CSRF_token', App.CSRF);
  </script>

  <script type="text/javascript">
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id='qndPages'>
      {% include "./create.html" %}
      {% include "./update.html" %}
      {% include "../../../documents/modules/send/docsend.html" %}
    </div>
  </div>
  
  {% include "lib/client/widgets/modal.html" %}
  {% include "lib/client/widgets/mdate.html" %}
  {% include "lib/client/widgets/mtime.html" %}
  {% include "lib/client/widgets/notes.html" %}

  {% include "apps/login/views/relogin.html" %}
{% endblock %}

{% block init %}
<script type="module" src="/~static/apps/reservations/modules/res/module.js"></script>

<script type="text/javascript">
</script>
{% endblock %}  