<page id='rsvs-rsv-update' style='display: none;'>
  <section id='rsvs-rsv-update-section'>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top r4-navbar">
      <div class="container-fluid">
        <div>
        </div>
        <div>
          <span style='font-size: 20px'>
            Reservation
            <span mvc-text='main.rsvno'></span>
            -
            <span mvc-text='text.contact'></span>
          </span>          
        </div>
        <div>
          &nbsp;
        </div>
        <!--div class='col-2'>
          <div class='d-block d-sm-none'>XS</div>
          <div class='d-none d-sm-block d-md-none'>SM</div>
          <div class='d-none d-md-block d-lg-none'>MD</div>
          <div class='d-none d-lg-block d-xl-none'>LG</div>
          <div class='d-none d-xl-block'>XL</div>
        </div-->
      </div>
    </nav>

    <!-- XS only -->
    <div class='row d-block d-sm-none mb-3'>
      <div class='col-12'>
        <div class='accordion shadow' id='res-update-xs'>
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#res-update-xs-status">
                <span class='float-start pe-2'>
                  Status
                </span>
                <span class='float-end' mvc-text='text.status'>
                </span>
              </button>
            </div>

            <div id="res-update-xs-status" class="accordion-collapse collapse" data-bs-parent="#res-update-xs">
              <div class='accordion-body' mvc-click='editStatus()'>
                {% include "./update-status.html" %}
              </div>
            </div>
          </div>

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#res-update-xs-guest">
                <span class='float-start pe-2'>
                  Guest
                </span>
                <span class='float-end' mvc-text='text.contact'>
                </span>
              </button> 
            </div>

            <div id="res-update-xs-guest" class="accordion-collapse collapse" data-bs-parent="#res-update-xs">
              <div class='accordion-body' mvc-click='editGuest()'>
                {% include "./update-guest.html" %}
              </div>
            </div>
          </div>

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#res-update-xs-notes">
                <span class='float-start pe-2'>
                  Notes
                </span>
                <span class="badge rounded-pill bg-danger float-end" mvc-text='main.notes.length'></span>
              </button>
            </div>

            <div id="res-update-xs-notes" class="accordion-collapse collapse" data-bs-parent="#res-update-xs">
              <div class='accordion-body'>
                <div class='row'>
                  <div class='col-12'>
                    <button class='btn-sm btn-outline-primary float-end' mvc-click='notesAdd()'>
                      Add
                    </button>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-12'>
                    {% include "./update-notes.html" %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#res-update-xs-notify">
                Notifications & Reminders
              </button>
            </div>

            <div id="res-update-xs-notify" class="accordion-collapse collapse" data-bs-parent="#res-update-xs">
              <div class='accordion-body' mvc-click='viewNotifications()'>
                {% include "./update-notify.html" %}
              </div>
            </div>
          </div>

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#res-update-xs-finance">
                <span class='float-start pe-2'>
                  Charges
                </span>
                <span class='float-end' mvc-text='main.total'>
                </span>
              </button>
            </div>

            <div id="res-update-xs-finance" class="accordion-collapse collapse" data-bs-parent="#res-update-xs">
              <div class='accordion-body' mvc-click='editFinancials()'>
                {% include "./update-finance.html" %}
              </div>
            </div>
          </div>

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#res-update-xs-terms">
                <span class='float-start pe-2'>
                  Balance Due
                </span>
                <span class='float-end' mvc-text='main.baldue'>
                </span>
              </button>
            </div>

            <div id="res-update-xs-terms" class="accordion-collapse collapse" data-bs-parent="#res-update-xs">
              <div class='accordion-body' mvc-click='editTerms()'>
                {% include "./update-terms.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SM and above -->
    <div class='d-none d-sm-block mb-3'>
      <div class='row'>
        <div class='col-12 col-md-6 mb-4'>
          <div class='card shadow'>
            <div class='card-header'>
              <h5 class='float-start'>Status</h5>
              <button class='btn-sm btn-outline-primary float-end' data-bs-toggle="modal" data-bs-target="#editStatus">
                Edit
              </button>
            </div>
            <div class='card-body'>
              {% include "./update-status.html" %}
            </div>
          </div>
        </div>
    
        <div class='col-12 col-md-6 mb-4'>
          <div class='card shadow'>
            <div class='card-header'>
              <h5 class='float-start'>Guest</h5>
              <button class='btn-sm btn-outline-primary float-end' mvc-click='editGuest()'>
                Edit
              </button>
            </div>
            <div class='card-body'>
              {% include "./update-guest.html" %}
            </div>
          </div>
        </div>
      </div>
  
      <div class='row'>
        <div class='col-12 col-md-6 mb-4'>        
          <div class='card shadow'>
            <div class='card-header'>
                <h5 class='float-start me-2'>Notes</h5>
              <span class="badge rounded-pill bg-danger" mvc-text='main.notes.length'></span>
              <button class='btn-sm btn-outline-primary float-end' mvc-click='notesAdd()'>
                Add
              </button>
            </div>
            <div class='card-body'>
              {% include "./update-notes.html" %}
            </div>
          </div>        
        </div>

        <div class='col-12 col-md-6 mb-4'>        
          <div class='card shadow'>
            <div class='card-header'>
              <h5 class='float-start'>Notifications & Reminders</h5>
            </div>
            <div class='card-body'>
              {% include "./update-notify.html" %}
            </div>
          </div>        
        </div>
      </div>
  
      <div class='row'>
        <div class='col-12 col-lg-6 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <h5 class='float-start'>Financial</h5>
              <button class='btn-sm btn-outline-primary float-end' mvc-click='editFinancials()'>
                Edit
              </button>
            </div>
            <div class='card-body'>
              {% include "./update-finance.html" %}
            </div>
          </div>        
        </div>
  
        <div class='col-12 col-lg-6 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <h5 class='float-start'>Payment Schedule</h5>
              <button class='btn-sm btn-outline-primary float-end' mvc-click='editTerms()'>
                Edit
              </button>
            </div>
            <div class='card-body'>
              {% include "./update-terms.html" %}
            </div>
          </div>        
        </div>
  
      </div>
    </div>

    <div class='row mb-4'>
      <div class='col-12'>
        <button class='btn btn-primary' mvc-click='send()'>
          Email
        </button>
        <button class='btn btn-success' mvc-click='payments()'>
          Payments
        </button>
        <button class='btn btn-warning' mvc-click='test()'>
          Test
        </button>
      </div>
    </div>

    <!-- Status Modal -->
    <div class="modal fade" id="editStatus" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Status</h5>
            <button type="button" class="btn-close" mvc-click='resetStatus()'>
            </button>
          </div>

          <div class='modal-body'>
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.SelectMVC(id=main.company.id, size='1', mvc_value='main.company', mvc_each='companies', textField='name', valueField='id', label=main.company.verbose, mvc_on='{"change": "getCompany()"}') }}
              </div>
            </div>

            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.SelectMVC(id=main.area.id, size='1', mvc_value='main.area', mvc_each='areas', textField='name', valueField='code', label=main.area.verbose) }}
              </div>
            </div>
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Integer(id=main.grpsize.id, mvc_value='main.grpsize', min='0', max='9999', step='1', label=main.grpsize.verbose) }}
              </div>
            </div>
    
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Integer(id=main.infants.id, mvc_value='main.infants', min='0', max='9999', step='1', label=main.infants.verbose) }}
              </div>
            </div>
    
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Integer(id=main.children.id, mvc_value='main.children', min='0', max='9999', step='1', label=main.children.verbose) }}
              </div>
            </div>        
    
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Integer(id=main.youth.id, mvc_value='main.youth', min='0', max='9999', step='1', label=main.youth.verbose) }}
              </div>
            </div>        
    
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Integer(id=main.adults.id, mvc_value='main.adults', min='0', max='9999', step='1', label=main.adults.verbose) }}
              </div>
            </div>        
    
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Integer(id=main.seniors.id, mvc_value='main.seniors', min='0', max='9999', step='1', label=main.seniors.verbose) }}
              </div>
            </div>      
            
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Char(id=main.owner.id, maxlength=main.owner.maxlength, mvc_value='main.owner', label='Owner (employee)') }}
              </div>
            </div>            
            
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Switch(id=main.allowfup.id, maxlength=main.allowfup.maxlength, mvc_checked='main.allowfup', label=main.allowfup.verbose) }}
              </div>
            </div>

            <div class='row'>
              <div class='col-12'>
                <button class='btn btn-success' mvc-click='updateStatus()'>
                  Save Changes
                </button>
              </div>
            </div>

            <div class='row'>
              <div class='col-12'>
                <hr>
              </div>
            </div>

            <div class='row mb-3'>
              <div class='col-6'>
                <span mvc-show='main.status == "A"'>
                  <button class='btn btn-outline-primary' mvc-click='quote()'>
                    Convert to Quotation
                  </button>
                </span>

                <span mvc-show='main.status == "Q"'>
                  <button class='btn btn-outline-primary' mvc-click='quote()'>
                    Convert to Active
                  </button>
                </span>
              </div>

              <div class='col-6'>
                <span mvc-show='main.status == "A"'>
                  <button class='btn btn-outline-danger' mvc-click='cancel()'>
                    Cancel Reservation
                  </button>
                </span>

                <span mvc-show='main.status == "X"'>
                  <button class='btn btn-outline-danger' mvc-click='cancel()'>
                    UnCancel Reservation
                  </button>
                </span>
              </div>
            </div>

          </div>
        </div>  
      </div>
    </div>

    <!-- Guest Modal -->
    <div class="modal fade" id="editGuest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Guest</h5>
            <button type="button" class="btn-close" mvc-click='resetGuest()'>
            </button>
          </div>

          <div class='modal-body'>
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Search(id=main.contact.id, maxlength=main.contact.maxlength, mvc_value='main.contact', mvc_on='{"change": "getContact()"}', mvc_click='contactSearch()', label='Guest') }}
              </div>
              <div class='col-12'>
                <span mvc-text='contact.first'></span>
                <span mvc-text='contact.last'></span>
              </div>
            </div>

            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Char(id=main.client.id, maxlength=main.client.maxlength, mvc_value='main.client', label=main.client.verbose) }}
              </div>
            </div>

            <div class='row'>
              <div class='col-12'>
                <button class='btn btn-success' mvc-click='updateGuest()'>
                  Save Changes
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Financial Modal -->
    <div class="modal fade" id="editFinancials" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Financials</h5>
            <button type="button" class="btn-close" mvc-click='resetFinancials()'>
            </button>
          </div>

          <div class='modal-body'>
            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Switch(id=main.taxable.id, maxlength=main.taxable.maxlength, mvc_checked='main.taxable', label=main.taxable.verbose) }}
              </div>
            </div>

            <div class='row mb-3'>
              <div class='col-12'>
                {{ fields.Char(id=main.taxno.id, maxlength=main.taxno.maxlength, mvc_value='main.taxno', label=main.taxno.verbose) }}
              </div>
            </div>

            <div class='row mb-3'>
              <div class='col-12 col-lg-6'>
                {{ fields.Search(id=main.agent.id, maxlength=main.agent.maxlength, mvc_value='main.agent', mvc_on='{"change": "getAgent()"}', mvc_click='agentSearch()', label=main.agent.verbose) }}
              </div>
              <div class='col-12'>
                <span mvc-text='agent.first'></span>
                <span mvc-text='agent.last'></span>
              </div>
            </div>

            <div class='row mb-3'>
              <div class='col-12 col-lg-6'>
                {{ fields.Float(id=main.commrate.id, min='0.00', max='100.00', step='1.0', mvc_value='main.commrate', mvc_enabled='', mvc_disabled='', mvc_role='dollar', choices=main.commrate.choices, label=main.commrate.verbose) }}
              </div>
            </div>

            <div class='row mb-3'>
              <div class='col-12 col-lg-6'>
                {{ fields.SelectMVC(id=main.currency.id, mvc_value='main.currency', mvc_each='currencies', mvc_on='{"change": "getCurrency()"}', size='1', textField='name', valueField='code', label=main.currency.verbose) }}
              </div>
            </div>                        

            <div class='row'>
              <div class='col-12'>
                <button class='btn btn-success' mvc-click='updateFinancials()'>
                  Save Changes
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Payment Terms Modal -->
    <div class="modal fade" id="editTerms" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Payment Terms</h5>
            <button type="button" class="btn-close" mvc-click='resetTerms()'>
            </button>
          </div>

          <div class='modal-body'>
            <div class='row mb-3'>
              <div class='table-responsive'>
                <table class='table table-sm' style='min-width: 450px'>
                  <thead>
                    <tr>
                      <th></th>
                      <th>Amount</th>
                      <th>Date</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th>
                        Deposit
                      </th>
                      <td>
                        {{ fields.Float(id=main.pmtamt1.id, min='0.00', max='9999999.00', step='1.0', mvc_value='main.pmtamt1', mvc_enabled='', mvc_disabled='', mvc_role='dollar', label='') }}
                      </td>
                      <td>
                        {{ fields.Date(id=main.pmtdate1.id, mvc_value='main.pmtdate1', mvc_role='date', label='') }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Payment 1
                      </th>
                      <td>
                        {{ fields.Float(id=main.pmtamt2.id, min='0.00', max='9999999.00', step='1.0', mvc_value='main.pmtamt2', mvc_enabled='', mvc_disabled='', mvc_role='dollar', label='') }}
                      </td>
                      <td>
                        {{ fields.Date(id=main.pmtdate2.id, mvc_value='main.pmtdate2', mvc_role='date', label='') }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Payment 2
                      </th>
                      <td>
                        {{ fields.Float(id=main.pmtamt3.id, min='0.00', max='9999999.00', step='1.0', mvc_value='main.pmtamt3', mvc_enabled='', mvc_disabled='', mvc_role='dollar', label='') }}
                      </td>
                      <td>
                        {{ fields.Date(id=main.pmtdate3.id, mvc_value='main.pmtdate3', mvc_role='date', label='') }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class='row'>
              <div class='col-12 col-sm-6 mb-3'>
                {{ fields.Switch(id=main.lockamts.id, maxlength=main.lockamts.maxlength, mvc_checked='main.lockamts', label=main.lockamts.verbose) }}
              </div>

              <div class='col-12 col-sm-6 mb-3''>
                {{ fields.Switch(id=main.lockdates.id, maxlength=main.lockdates.maxlength, mvc_checked='main.lockdates', label=main.lockdates.verbose) }}
              </div>
            </div>

            <div class='row'>
              <div class='col-12 col-sm-6 mb-3'>
                Current Rule
                <span mvc-text='main.pmtterms'></span>
                <br>
                <span mvc-text='pmtterms.name'></span>
              </div>
              <div class='col-12 col-sm-6 mb-3'>
                {{ fields.SelectMVC(id=main.pmtterms.id, size='1', mvc_value='main.pmtterms', mvc_each='pmttermss', textField='name', valueField='code', label='Override Rule', mvc_on='{"change": "getPmtTerms()"}') }}         
              </div>
            </div>

            <div class='row'>
              <div class='col-12'>
                <button class='btn btn-success' mvc-click='updateTerms()'>
                  Save Changes
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <section id='rsvs-rsv-items-section'>
    <div class='row'>
      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm act-color' mvc-click='book("A")'>
          Activity
        </button>
      </div>

      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm lodge-color' mvc-click='book("L")'>
          Lodging
        </button>
      </div>

      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm rent-color' mvc-click='book("R")'>
          Rental
        </button>
      </div>
      
      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm meal-color' mvc-click='book("M")'>
          Meal
        </button>
      </div>

      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm trans-color' mvc-click='book("T")'>
          Transport
        </button>
      </div>

      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm store-color' mvc-click='book("S")'>
          Retail
        </button>
      </div>

      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm other-color' mvc-click='book("O")'>
          Misc
        </button>
      </div>

      <div class='col-4 col-md-2 col-lg-1 mb-3 text-center'>
        <button class='btn btn-sm package-color' mvc-click='book("P")'>
          Package
        </button>
      </div>
    </div>  

    <div class='row'>
      <div class='col-12 mb-3'>
        <div id='item-section'>
          Item Section - List of items
        </div>
      </div>
    </div>

    <div class='row' id='item-A'>
      <div class='col-12 mb-3'>
        <div class='row'>
          <div class='col-12 mb-1'>
            Activity - defined section with all facade fields ALRMOSTP
            Need display shell and entry/edit shell
            Display shells can be a template
          </div>
        </div>
        <div id='activity-includes'>
          Included Items - each include type included-AR, included-AM, included-AO, etc would have their own section
          Need display shell and entry/edit shell
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        Date
      </div>
      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        Guests
      </div>
      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        Item
      </div>
      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        Time
      </div>
      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        Pricing
      </div>
    </div>

    <div class='row act-color'>
      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        {{ fields.Date(id='item-date', mvc_value='item.date', mvc_click='date:abs()', label='') }}
      </div>

      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        {{ fields.Dropper(id='drop-guest', mvc_value='drop.ppl', handler='dropppl', template_id='rsv-update-dropdown-guests', dir_class='dropup', dd_class='dropper-guests', label='') }}
      </div>

      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        {{ fields.Dropper(id='drop-code', mvc_value='drop.code', handler='dropcode', template_id='rsv-update-dropdown-code', dir_class='dropup', dd_class='dropper-code', label='') }}
      </div>

      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        {{ fields.Char(id='item-time', mvc_value='item.time', mvc_filter='time', label='') }}
      </div>

      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        {{ fields.Char(id='item-rate', mvc_value='item.rate', label='') }}
      </div>

      <div class='col-6 col-md-3 col-lg-2 mt-1 mb-1'>
        Tools
      </div>

    </div>

  </section>
</page>

<template id='rsv-update-dropdown-guests'>
  <div class='container'>
    <div class='row mb-3'>
      <div class='col'>
        {{ fields.Integer(id='drop-infants', mvc_value='drop.infants', min='0', max='9999', step='1', label='Infants') }}
      </div>
    </div>

    <div class='row mb-3'>
      <div class='col'>
        {{ fields.Integer(id='drop-children', mvc_value='drop.children', min='0', max='9999', step='1', label='Children') }}
      </div>
    </div>

    <div class='row mb-3'>
      <div class='col'>
        {{ fields.Integer(id='drop-youth', mvc_value='drop.youth', min='0', max='9999', step='1', label='Youth') }}
      </div>
    </div>

    <div class='row mb-3'>
      <div class='col'>
        {{ fields.Integer(id='drop-adults', mvc_value='drop.adults', min='0', max='9999', step='1', label='Adults') }}
      </div>
    </div>

    <div class='row'>
      <div class='col'>
        {{ fields.Integer(id='drop-seniors', mvc_value='drop.seniors', min='0', max='9999', step='1', label='Seniors') }}
      </div>
    </div>

 
    <div class='row'>
      <div class='col'>
        <div class='float-end'>
          <span class='pointer accept text-success' style='font-size: 30px'>
            <i class="fa-light fa-check"></i>
          </span>

          <span class='pointer dismiss text-danger' style='font-size: 30px'>
            <i class="fa-light fa-xmark"></i>
          </span>
        </div>
      </div>
    </div>

  </div>
</template>

<template id='rsv-update-dropdown-code'>
  <div class='container'>
    <div class='row mb-3'>
      <div class='col-12 col-md-6'>
        {{ fields.SelectMVC(id='item-group', size='10', mvc_value='item.group', mvc_each='actgroups', mvc_on='{"change": "groupChanged()"}', valueField='code', textField='name', label='') }}
      </div>
      <div class='col-12 col-md-6'>
        {{ fields.SelectMVC(id='item-code', size='10', mvc_value='item.code', mvc_each='activities', mvc_on='{"change": "codeChanged()"}', valueField='code', textField='name', classField='class', label='') }}
      </div>
    </div>

    <div class='row'>
      <div class='col'>
        <div class='float-end'>
          <span class='pointer accept text-success' style='font-size: 30px'>
            <i class="fa-light fa-check"></i>
          </span>

          <span class='pointer dismiss text-danger' style='font-size: 30px'>
            <i class="fa-light fa-xmark"></i>
          </span>
        </div>
      </div>
    </div>
    
  </div>
</template>

<template id='rsv-update-dropdown-date'>
  <div style='padding-left: 0px;'>
    <div class='bg-primary text-white' style='padding: 5px; border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;'>
      <h4>Heading</h4>
    </div>    
  </div>
</template>