{% extends "project/base.html" %}

{% block title %}
  Items
{% endblock %}

{% block css %}
<!--link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"-->
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />


<style>
  .fieldset-legend {
    position: relative;
    top: -22px;
    background-color: white;
    margin-bottom: -15px;
  }

  div#qndPages {
    padding-top: 130px;
  }

  @media (min-width: 575px) {
    div.bottom-spacer {
      padding-bottom: 90px;
    }
  }

  @media (min-width: 768px) {
    div.bottom-spacer {
      padding-bottom: 60px;
    }
    div#qndPages {
      padding-top: 65px;
    }
  }

  .list-hovered:hover {
    background-color: #e9ecef;
  }

  .list-hovered > label {
    display: block;
  }

</style>
{% endblock %}

{% block script %}
  <script type="module">
    import {App} from '/~static/project/app.js';

    App.CSRF = '{{CSRFToken}}';
    App.USER = JSON.parse('{{USER|safe}}');
    localStorage.setItem('CSRF_token', App.CSRF);
  </script>

  <script type="text/javascript">
  </script>

  <script type="text/javascript" src='/~static/lib/client/core/papaparse.js'></script>
  <script type="text/javascript" src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
  <script type="text/javascript" src="https://jsuites.net/v4/jsuites.js"></script>
  <script type="text/javascript" src="https://upload-widget.cloudinary.com/global/all.js"></script> 
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id='qndPages'>
      {% include "./start.html" %}

    {# Activities #}
      {% include "./activity.html" %}
      {% include "./activity-daily.html" %}
      {% include "./activity-rates.html" %}
      {% include "./activity-rate.html" %}
      {% include "./activity-prices.html" %}
      {% include "./activity-minppl.html" %}
      {% include "./activity-sched.html" %}
      {% include "./activity-photo.html" %}
      {% include "./activity-included.html" %}
      {% include "./activity-resellers.html" %}

      {% include "./actgroup.html" %}
      {% include "./actres.html" %}
      {% include "./actttot.html" %}

    {# Lodging #}
      {% include "./lodging.html" %}
      {% include "./lodging-units.html" %}
      {% include "./lodging-rates.html" %}
      {% include "./lodging-rate.html" %}
      {% include "./lodging-prices.html" %}
      {% include "./lodging-minppl.html" %}
      {% include "./lodging-sched.html" %}
      {% include "./lodging-photo.html" %}
      {% include "./lodging-included.html" %}
      {% include "./lodging-resellers.html" %}

      {% include "./lodglocn.html" %}
      {% include "./lodgtype.html" %}

    {# Meals #}
      {% include "./meals.html" %}
      {% include "./meals-rates.html" %}
      {% include "./meals-rate.html" %}
      {% include "./meals-prices.html" %}
      {% include "./meals-minppl.html" %}
      {% include "./meals-sched.html" %}
      {% include "./meals-photo.html" %}
      {% include "./meals-resellers.html" %}

      {% include "./meallocn.html" %}
      {% include "./mealtype.html" %}

    {# General #}  
      {% include "./area.html" %}
      {% include "./glcode.html" %}
      {% include "./tax.html" %}
      {% include "./waiver.html" %}
      {% include "./supplier.html" %}
      {% include "./reseller.html" %}
      {% include "./pricelevel.html" %}
      {% include "./pmtterms.html" %}

    {# Utilities #}
      {% include "./util-print.html" %}
      {% include "./util-import.html" %}
    </div>
  </div>  
  
  {% include "lib/client/widgets/modal.html" %}
  {% include "lib/client/widgets/mdate.html" %}
  {% include "lib/client/widgets/mtime.html" %}

  {% include "apps/login/views/relogin.html" %}
{% endblock %}

{% block init %}
<script type="module" src="/~static/apps/items/modules/setup/module.js"></script>

<script type="text/javascript">
</script>
{% endblock %}  