<page id='items-start' style='display: none;'>
  <section id='items-start-section'>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top r4-navbar">
      <div class="container-fluid">
        <div>
        </div>
        <div>
          <span style='font-size: 20px'>
            Item Setup
          </span>          
        </div>
        <div></div>
        <!--div class='col-2'>
          <div class='d-block d-sm-none'>XS</div>
          <div class='d-none d-sm-block d-md-none'>SM</div>
          <div class='d-none d-md-block d-lg-none'>MD</div>
          <div class='d-none d-lg-block d-xl-none'>LG</div>
          <div class='d-none d-xl-block'>XL</div>
        </div-->
      </div>
    </nav>

    <!-- XS only -->
    <div class='row d-block d-sm-none mb-3'>
      <div class='col-12'>
        <div class='accordion shadow' id='item-setup-xs'>
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-activity">
                <span class='pe-2'>
                  Activities
                </span>
                {% include "./start-activity-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-activity" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-activity-btn.html" %}
                <br>
                {% include "./start-activity-table.html" %}
              </div>
            </div>
          </div>

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-lodging">
                <span class='pe-2'>
                  Lodging
                </span>
                {% include "./start-lodging-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-lodging" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-lodging-btn.html" %}
                <br>
                {% include "./start-lodging-table.html" %}
              </div>
            </div>
          </div>  

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-meals">
                <span class='pe-2'>
                  Meals
                </span>
                {% include "./start-meals-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-meals" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-meals-btn.html" %}
                <br>
                {% include "./start-meals-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-actgroup">
                <span class='pe-2'>
                  Activity Groups
                </span>
                {% include "./start-actgroup-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-actgroup" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-actgroup-btn.html" %}
                <br>
                {% include "./start-actgroup-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-actres">
                <span class='pe-2'>
                  Activity Resources
                </span>
                {% include "./start-actres-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-actres" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-actres-btn.html" %}
                <br>
                {% include "./start-actres-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-actttot">
                <span class='pe-2'>
                  Activity Time Totals
                </span>
                {% include "./start-actttot-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-actttot" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-actttot-btn.html" %}
                <br>
                {% include "./start-actttot-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-lodglocn">
                <span class='pe-2'>
                  Lodging Locations
                </span>
                {% include "./start-lodglocn-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-lodglocn" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-lodglocn-btn.html" %}
                <br>
                {% include "./start-lodglocn-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-lodgtype">
                <span class='pe-2'>
                  Lodging Types
                </span>
                {% include "./start-lodgtype-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-lodgtype" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-lodgtype-btn.html" %}
                <br>
                {% include "./start-lodgtype-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-meallocn">
                <span class='pe-2'>
                  Meal Locations
                </span>
                {% include "./start-meallocn-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-meallocn" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-meallocn-btn.html" %}
                <br>
                {% include "./start-meallocn-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-mealtype">
                <span class='pe-2'>
                  Meal Types
                </span>
                {% include "./start-mealtype-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-mealtype" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-mealtype-btn.html" %}
                <br>
                {% include "./start-mealtype-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-company">
                <span class='pe-2'>
                  Companies
                </span>
                {% include "./start-company-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-company" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-company-btn.html" %}
                <br>
                {% include "./start-company-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-area">
                <span class='pe-2'>
                  Areas
                </span>
                {% include "./start-area-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-area" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-area-btn.html" %}
                <br>
                {% include "./start-area-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-glcode">
                <span class='pe-2'>
                  GL Codes
                </span>
                {% include "./start-glcode-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-glcode" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-glcode-btn.html" %}
                <br>
                {% include "./start-glcode-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-taxes">
                <span class='pe-2'>
                  Taxes/Service Charges
                </span>
                {% include "./start-taxes-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-taxes" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-taxes-btn.html" %}
                <br>
                {% include "./start-taxes-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-waiver">
                <span class='pe-2'>
                  Waivers
                </span>
                {% include "./start-waiver-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-waiver" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-waiver-btn.html" %}
                <br>
                {% include "./start-waiver-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-template">
                <span class='pe-2'>
                  Templates
                </span>
                {% include "./start-template-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-template" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-template-btn.html" %}
                <br>
                {% include "./start-template-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-pricelevel">
                <span class='pe-2'>
                  Pricing Levels
                </span>
                {% include "./start-pricelevel-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-pricelevel" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-pricelevel-btn.html" %}
                <br>
                {% include "./start-pricelevel-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-pmtterms">
                <span class='pe-2'>
                  Payment Terms
                </span>
                {% include "./start-pmtterms-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-pmtterms" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-pmtterms-btn.html" %}
                <br>
                {% include "./start-pmtterms-table.html" %}
              </div>
            </div>
          </div>            
          
          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-supplier">
                <span class='pe-2'>
                  Suppliers
                </span>
                {% include "./start-supplier-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-supplier" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-supplier-btn.html" %}
                <br>
                {% include "./start-supplier-table.html" %}
              </div>
            </div>
          </div>            

          <div class='accordion-item'>
            <div class='accordion-header'>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item-setup-xs-reseller">
                <span class='pe-2'>
                  Resellers
                </span>
                {% include "./start-reseller-badge.html" %}
              </button>
            </div>

            <div id="item-setup-xs-reseller" class="accordion-collapse collapse" data-bs-parent="#item-setup-xs">
              <div class='accordion-body'>
                {% include "./start-reseller-btn.html" %}
                <br>
                {% include "./start-reseller-table.html" %}
              </div>
            </div>
          </div>            

        </div>
      </div>
    </div>

    <!-- SM and above -->
    <div class='d-none d-sm-block mb-3'>
      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Activities
                  {% include "./start-activity-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-activity-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-activity-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Lodging
                  {% include "./start-lodging-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-lodging-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-lodging-table.html" %}
            </div>
          </div>
        </div>    

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Meals
                  {% include "./start-meals-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-meals-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-meals-table.html" %}
            </div>
          </div>
        </div>                
      </div>

      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Activity Groups
                  {% include "./start-actgroup-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-actgroup-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-actgroup-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Activity Resources
                  {% include "./start-actres-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-actres-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-actres-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Activity Time Totals
                  {% include "./start-actttot-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-actttot-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-actttot-table.html" %}
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Lodging Locations
                  {% include "./start-lodglocn-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-lodglocn-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-lodglocn-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Lodging Types
                  {% include "./start-lodgtype-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-lodgtype-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-lodgtype-table.html" %}
            </div>
          </div>
        </div>
      </div>
      
      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Meal Locations
                  {% include "./start-meallocn-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-meallocn-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-meallocn-table.html" %}
            </div>
          </div>
        </div>
      
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Meal Types
                  {% include "./start-mealtype-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-mealtype-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-mealtype-table.html" %}
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Companies
                  {% include "./start-company-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-company-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-company-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Areas
                  {% include "./start-company-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-company-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-area-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  GL Codes
                  {% include "./start-glcode-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-glcode-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-glcode-table.html" %}
            </div>
          </div>
        </div>  
      </div>
        
      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Taxes/Service Charges
                  {% include "./start-taxes-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-taxes-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-taxes-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Waivers
                  {% include "./start-waiver-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-waiver-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-waiver-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Templates
                  {% include "./start-template-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-template-badge.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-template-table.html" %}
            </div>
          </div>
        </div>

      </div>

      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Pricing Levels
                  {% include "./start-pricelevel-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-pricelevel-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-pricelevel-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Payment Terms
                  {% include "./start-pricelevel-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-pricelevel-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-pmtterms-table.html" %}
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Suppliers
                  {% include "./start-supplier-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-supplier-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-supplier-table.html" %}
            </div>
          </div>
        </div>

        <div class='col-12 col-md-6 col-lg-4 mb-3'>
          <div class='card shadow'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  Resellers
                  {% include "./start-supplier-badge.html" %}
                </div>
                <div class='col-4'>
                  {% include "./start-supplier-btn.html" %}
                </div>
              </div>
            </div>
            <div class='card-body'>
              {% include "./start-supplier-table.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</page>