{% extends "project/base.html" %}

{% block title %}
  Schema Builder
{% endblock %}

{% block css %}

<style>
  div#qndPages {
    padding-top: 60px;
  }

  @media (min-width: 575px) {
    div.bottom-spacer {
      padding-bottom: 90px;
    }
  }

  @media (min-width: 768px) {
    div.bottom-spacer {
      padding-bottom: 60px;
    }
  }  

  .div-label {
    position: relative;
    top: -20px;
    left: 0px;
    color: #007bff;
    background-color: #FFFFFF;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 12px;
    display: inline;
  }

  .tag {
    background-color: #007bff;
    border: 0px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    line-height: 20px;
  }

  .tag .tagtext {
    color: white;
    padding-right: 10px;
  }

  .tag .tagx {
    color: red;
    cursor: pointer;
    font-size: 24px;
  }  

  .fieldset-legend {
    position: relative;
    top: -22px;
    background-color: white;
    margin-bottom: -15px;
  }


</style>
{% endblock %}

{% block script %}
  <script type="module">
    import {App} from '/~static/project/app.js';

    App.USER = JSON.parse('{{USER|safe}}');
  </script>

  <script type="text/javascript">
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    {% include "./navbar.html" %}
    <div id='qndPages'>
      {% include "./database-list.html" %}
      {% include "./workspace-list.html" %}
      {% include "./workspace-create.html" %}
      {% include "./workspace-update.html" %}
      {% include "./workspace-delete.html" %}
      {% include "./app-list.html" %}
      {% include "./app-create.html" %}
      {% include "./app-update.html" %}
      {% include "./app-delete.html" %}
      {% include "./table-list.html" %}
      {% include "./table-create.html" %}
      {% include "./table-update.html" %}
      {% include "./table-delete.html" %}
      {% include "./table-config.html" %}
      {% include "./table-config-pk.html" %}
      {% include "./table-config-orderby.html" %}
      {% include "./table-config-index-create.html" %}
      {% include "./table-config-index-delete.html" %}
      {% include "./table-config-fks-create.html" %}
      {% include "./table-config-fks-delete.html" %}
      {% include "./column-list.html" %}
      {% include "./column-create.html" %}
      {% include "./column-update.html" %}
      {% include "./column-delete.html" %}
      {% include "./query-list.html" %}
      {% include "./query-create.html" %}
      {% include "./query-update.html" %}
      {% include "./query-delete.html" %}
    </div>
  </div>
  
  {% include "lib/client/widgets/mdate.html" %}
  {% include "lib/client/widgets/mtime.html" %}
  {% include "lib/client/widgets/modal.html" %}
  {#% include "lib/client/widgets/multisel.html" %#}
  {#% include "lib/client/widgets/singlesel.html" %#}

  {% include "apps/login/views/relogin.html" %}
{% endblock %}

{% block init %}
<script type="module" src="/~static/apps/schema/modules/schema/module.js"></script>

<script type="text/javascript">
</script>
{% endblock %}