<style>
</style>

<page id='interfaces'>
  <section>
    <h4>Interfaces</h4>
    <a href='/bindings'>Bindings</a>
    <br>
    <a href='/filters'>Filters, Edits, and Roles</a>

    <div class='row'>
      <div class='col-12 col-lg-4' id='interfaces1'>
<input mvc-value='date' mvc-role='date' id='date-input'>
<button mvc-click='date:boot' for='date-input'>
  Calendar
</button>
<br><br>
<input mvc-value='time' mvc-role='time' id='time-input'>
<button mvc-click='time:boot' for='time-input'>
  Calendar
</button>  
<br><br>
<button mvc-click='multi'>
  Multi Select
</button>
<br><br>
<button mvc-click='single'>
  Single Select
</button>
<br><br>
<button mvc-click='alert'>
  Alert
</button>
<br><br>
<button mvc-click='confirm'>
  Confirm
</button>
<br><br>
<button mvc-click='prompt'>
  Prompt
</button>
      </div>

      <div class='col-12 col-lg-8' id='interfaces2'>
        <p>
          <button mvc-click='showJS'>
            Javascript
          </button>
          <button mvc-click='showHTML'>
            HTML
          </button>
        </p>
        
  <pre mvc-show='showJS'>
    <code mvc-text='js'>
    </code>
  </pre>

        <pre mvc-show='showHTML'>
          <code mvc-text='html'>
          </code>
        </pre>
      </div>
    </div>
  </section>
</page>