{% extends "project/base.html" %}

{% block title %}
  QnD
{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block script %}
  <script type="module">
  </script>

  <script type="text/javascript">
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id='qndPages'>
      {% include "./bindings.html" %}
      {% include "./filters.html" %}
      {% include "./interfaces.html" %}
      {% include "./data.html" %}
    </div>
  </div>

  {% include "client/widgets/modals.html" %}
  {% include "client/widgets/mdate.html" %}
  {% include "client/widgets/mtime.html" %}
  {% include "client/widgets/multisel.html" %}
  {% include "client/widgets/singlesel.html" %}
{% endblock %}

{% block init %}
<script type="module" src="/static/apps/test/views/js/module.js">
</script>

<script type="text/javascript">
  
</script>
{% endblock %}