<page id='contacts-main' style='display: none;'>
  <section id='contacts-main-section'>
    <div class='row form-group justify-content-center'>
      
      <div class='col-12 col-md-6 col-lg-4 col-xl-3 mb-4'>
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <div class='col-6'>
                <h4>
                  Contacts
                </h4>
              </div>
              <div class='col-6'>
                <div class='d-md-none'>
                  <span mvc-hide='existingEntry'>
                    {{ buttons.btn(class='success', mvc_click='newContact', text='+ Contact') }}
                  </span>
                </div>
              </div>
            </div>          
          </div>
          
          <div class='card-body' style='padding: 0px'>
            <div style='height: calc(100vh - 130px); overflow-y: auto'>
              <ul class="list-group list-group-flush" mvc-each='contacts' mvc-click='listClicked' id='contactList'>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" mvc-attr='{"data-pk": "contacts.$index.id"}' mvc-disabled='contact.id'>
                  <span mvc-text='contacts.$index.fullname'></span>
                  <span mvc-text='contacts.$index.id'></span>
                </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class='col-12 col-md-6 col-lg-6 col-xl-6'>
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <div class='col-6 col-lg-6'>
                {{ fields.Char(type='text', id=contact.id.id, maxlength=contact.id.maxLength, mvc_value='contact.id', mvc_event_type='blur', mvc_disabled='existingEntry', label=contact.id.verbose) }}
              </div>
              <!--div class='col-6 col-lg-6'-->
                <!--input class='form-control' mvc-mobi-calendar mvc-value='greg' mvc-role='date' placeholder='Date'-->
                <!--label>Stepper</label>
                <input type="number" mbsc-stepper value="50" min="-500" max="500" step="100" id='greg' mvc-value='greg'-->
                <!--input type='checkbox' mvc-checked='greg' mbsc-checkbox-->
                <!--input type='checkbox' mvc-checked='greg' mbsc-switch-->
                <!--label>
                <input type='radio' name='radio1' mvc-checked='greg' value='1' mbsc-radio data-input-style="box"> One
                </label>
                <label>
                <input type='radio' name='radio1' mvc-checked='greg' value='2' mbsc-radio data-input-style="box"> Two
                </label-->
              <!--/div-->
            </div>          
          </div>
          
          <div class='card-body'>
            <div class='row'>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=contact.first.id, maxlength=contact.first.maxLength, mvc_value='contact.first', label=contact.first.verbose) }}
              </div>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=contact.last.id, maxlength=contact.last.maxLength, mvc_value='contact.last', label=contact.last.verbose) }}
              </div>
            </div>
            
            <div class='row'>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=contact.group.id, maxlength=contact.group.maxLength, mvc_value='contact.group', label=contact.group.verbose) }}
              </div>
              <div class='col-12 col-lg-6 mb-2'>
                {{ fields.Char(type='text', id=contact.email.id, maxlength=contact.email.maxLength, mvc_value='contact.email', label=contact.email.verbose) }}
              </div>
            </div>
          </div>
          
          <div class='card-footer'>
            <div class='row mb-2'>
              <div class='col-12'>
                <span mvc-hide='existingEntry'>
                  {{ buttons.btn(class='primary mb-2', mvc_click='save', text='Add Contact') }}
                </span>
                <span mvc-show='existingEntry'>
                  {{ buttons.btn(class='primary mb-2', mvc_click='save', text='Update Contact') }}
                  {{ buttons.btn(class='danger mb-2', mvc_click='delete', text='Delete Contact') }}
                </span>
                {{ buttons.btn(class='warning mb-2', mvc_click='clear', text='Clear') }}
              </div>
            </div>            

            <div class='row' mvc-show='badMessage'>
              <div class='col-12'>
                <div class="alert alert-danger" role="alert">
                  <span mvc-text='badMessage'></span>  
                </div>
              </div>
            </div>         
          </div>
        </div>

      </div>
    </div>

    <div class='d-block d-sm-none'>XS</div>
    <div class='d-none d-sm-block d-md-none'>SM</div>
    <div class='d-none d-md-block d-lg-none'>MD</div>
    <div class='d-none d-lg-block d-xl-none'>LG</div>
    <div class='d-none d-xl-block'>XL</div>

  </section>
</page>
