{% extends "lib/client/base.html" %}

{% block title %}
  Contacts
{% endblock %}

{% block css %}
<style>
  label.mbsc-mobiscroll.mbsc-input {
    margin: 1.5em 1em .1em 1em !important;
  }
</style>
{% endblock %}

{% block script %}
  <script type="module">
  </script>

  <script type="text/javascript">
  </script>
{% endblock %}

{% block body %}
  <!--div class="container-fluid">
    <div id='qndPages'>
      {% include "./main.html" %}
    </div>
  </div-->
  
  {% include "./main-mobi.html" %}

  {#% include "lib/client/widgets/modals.html" %#}
  {#% include "lib/client/widgets/mdate.html" %#}
  {#% include "lib/client/widgets/mtime.html" %#}
  {#% include "lib/client/widgets/multisel.html" %#}
  {#% include "lib/client/widgets/singlesel.html" %#}

  {#% include "apps/login/views/relogin.html" %#}
{% endblock %}

{% block init %}
<script type="module" src="/static/apps/contacts/views/js/module.js">
</script>

<script type="text/javascript">
</script>
{% endblock %}