/* Navbar */
.r4-navbar {
  background-color: #bbe2f1;
  border-bottom: 2px solid blue;
}

/* Heading */
.page-heading {
  height: 60px;
}

div#qndPages {
  /*padding-top: 130px;*/
  padding-top: 65px;
}

@media (min-width: 575px) {
  div.bottom-spacer {
    padding-bottom: 90px;
  }
}

@media (min-width: 768px) {
  div.bottom-spacer {
    padding-bottom: 60px;
  }
  /*div#qndPages {
    padding-top: 65px;
  }*/
}

.list-hovered:hover {
  background-color: #e9ecef;
}

.list-hovered > label {
  display: block;
}


/* Misc */
.pointer {cursor: pointer;}

.div-label {
  position: relative;
  top: -14px;
  left: -8px;
  color:  #007bff; /* #00000060; */
  background-color: #FFFFFF;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 12px;
  z-index: 3;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:30px;
  width:30px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}
.modal-backdrop {
  background-color: #00000050;
}

.dropper {
  position: relative;
}

.dropper-content {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: .5rem 0;
  
  font-size: 1rem;
  text-align: left;
  background-color: #fff;
  border: 1px solid #00000015;
  border-radius: .25rem;
  min-width: 160px;
  height: auto;
}

.dropper-content.show {
  display: block;
}

.act-color {
  background-color: #a9d0f5;
}

.lodge-color {
  background-color: #bef781;
}

.rent-color {
  background-color: #f5a9d0;
}

.meal-color {
  background-color: #a9f5f2;
}

.trans-color {
  background-color: #d8d8d8;
}

.store-color {
  background-color: #f7be81;
}

.other-color {
  background-color: #f3f781;
}

.package-color {
  background-color: #00FF80;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
