<!DOCTYPE html>
<html lang=en style='height: 100%'>
  <head>
    <title>
      Login
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    {% block css %}
    <style type="text/css">
    </style>
    {% endblock %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
  </head>
  
  <body style='background-color: #eeeeee; height: 100%; margin: 0px;'>
    <div class="container-fluid">
      <div class="bg-primary">
        <div class='row'>
          <div class='col-12 text-center text-white'>
            <h4>
              Tenant Login
            </h4>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-12'>
          &nbsp;
        </div>
        <div class='col-12'>
          &nbsp;
        </div>
      </div>
     
      <div class='row justify-content-center'>
        <div class='col-12 col-sm-3'>
          <div class='card'>
            <div class='card-body'>
              <div class='row form-group'>
                <div class='col-12'><input type='text' maxlength='20' class='form-control' id='tenant' placeholder='Tenant' /></div>
              </div>
              <div class='row form-group'>
                <div class='col-12'><input type='text' maxlength='20' class='form-control' id='username' placeholder='Username' /></div>
              </div>
              <div class='row form-group'>
                <div class='col-12'><input type='password' maxlength='20' class='form-control' id='password' placeholder='Password' /></div>
              </div>
              <div class='row form-group'>
                <div class='col-12'><span id='errMsg' style='color: red'></span></div>
              </div>
              <div class='row justify-content-center'>
                <div class='col-5'><button class='btn btn-primary' id='loginBtn'>Login</button></div>
              </div>                    
            </div>
          </div>                  
        </div>
      </div>
    </div>
    
    <script type="module">
      import {io} from "/static/v1/static/lib/client/core/io.js";

      let tenantEl = document.getElementById('tenant');
      let usernameEl = document.getElementById('username');
      let passwordEl = document.getElementById('password');
      let loginBtnEl = document.getElementById('loginBtn');
      let errMsgEl = document.getElementById('errMsg');

      tenantEl.addEventListener('keyup', key13);
      usernameEl.addEventListener('keyup', key13);
      passwordEl.addEventListener('keyup', key13);
      loginBtnEl.addEventListener('click', login);

      function key13(ev) {
        if (ev.which == 13) {
          login();
        }
      };
      
      function login() {
        let tenant = tenantEl.value;
        let username = usernameEl.value;
        let password = passwordEl.value;

        errMsgEl.innerText = '';
        
        if (!tenant) {
          errMsgEl.innerText = 'Tenant is required';
          return;
        }
        
        if (!username) {
          errMsgEl.innerText = 'Username is required';
          return;
        }
        
        if (!password) {
          errMsgEl.innerText = 'Password is required';
          return;
        }

        io.post({tenant, username, password}, '/login/v1/login/login')
        .then(function(res) {
          if (res.status == 200) {
            location = res.data;
          }
          else {
            errMsgEl.innerText = res.data.errors.message;
          }
        })
        .catch(function(err) {
          alert(err.errMsg)
        })
      }
    </script>
  </body>
</html>