{% extends "project/base.html" %}

{% block title %}
  Code Builder
{% endblock %}

{% block css %}

<style>
  label.mbsc-mobiscroll.mbsc-input {
    margin: 1.5em 1em .1em 1em !important;
  }

  div#qndPages {
    padding-top: 60px;
  }

  @media (min-width: 575px) {
    div.bottom-spacer {
      padding-bottom: 90px;
    }
  }

  @media (min-width: 768px) {
    div.bottom-spacer {
      padding-bottom: 60px;
    }
  }  

  .div-label {
    position: relative;
    top: -20px;
    left: 0px;
    color: #007bff;
    background-color: #FFFFFF;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 12px;
    display: inline;
  }

  .tag {
    background-color: #007bff;
    border: 0px;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 5px 2px 5px;
    display: inline-block;
    line-height: 20px;
  }

  .tag .tagtext {
    color: white;
    padding-right: 10px;
  }

  .tag .tagx {
    color: red;
    cursor: pointer;
    font-size: 24px;
  }  

  .fieldset-legend {
    position: relative;
    top: -22px;
    background-color: white;
    margin-bottom: -15px;
  }

  .ace-editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }


</style>
{% endblock %}

{% block script %}
  <script type="module">
    import {App} from '/~static/project/app.js';

    App.USER = JSON.parse('{{USER|safe}}');
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js" integrity="sha512-GoORoNnxst42zE3rYPj4bNBm0Q6ZRXKNH2D9nEmNvVF/z24ywVnijAWVi/09iBiVDQVf3UlZHpzhAJIdd9BXqw==" crossorigin="anonymous"></script>
  <script type="text/javascript">
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    {% include "./navbar.html" %}
    <div id='qndPages'>
      {% include "./code-list.html" %}
      {% include "./code-create.html" %}
      {% include "./code-update.html" %}
      {% include "./code-delete.html" %}
      {% include "./codebundle-list.html" %}
      {% include "./codebundle-create.html" %}      
      {% include "./codebundle-update.html" %}      
      {% include "./codebundle-delete.html" %}      
    </div>
  </div>
  
  {% include "lib/client/widgets/mdate.html" %}
  {% include "lib/client/widgets/mtime.html" %}
  {#% include "lib/client/widgets/multisel.html" %#}
  {#% include "lib/client/widgets/singlesel.html" %#}

  {% include "apps/login/views/relogin.html" %}
{% endblock %}

{% block init %}
<script type="module" src="/~static/apps/schema/modules/code/module.js"></script>

<script type="text/javascript">
</script>
{% endblock %}