<page id='contacts-contact-update' style='display: none;'>
  <section id='contacts-contact-update-section'>
    <div class='row justify-content-center'>
      <div class='col-12'>
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <div class='col-10'>
                <h3>Contact Update</h3>
              </div>
              <div class='col-2'>
                <div class='d-block d-sm-none'>XS</div>
                <div class='d-none d-sm-block d-md-none'>SM</div>
                <div class='d-none d-md-block d-lg-none'>MD</div>
                <div class='d-none d-lg-block d-xl-none'>LG</div>
                <div class='d-none d-xl-block'>XL</div>
              </div>
            </div>          
          </div>
          
          <div class='card-body'>
            <div class='row pt-2'>
              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-name.html" %}
              </div>
    
              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-address-update.html" %}
              </div>

              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-contact.html" %}
              </div>  

              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-notes.html" %}
              </div>  
              
              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-emergency.html" %}
              </div>  
              
              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-flags.html" %}
              </div>                
              
              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-cat.html" %}
              </div>  

              <div class='col-12 col-lg-6 col-xl-4 mb-4'>
                {% include "./contact-misc.html" %}
              </div>  

            </div>
          </div>

          <div class='card-footer'>
            <div class='row' mvc-show='badMessage'>
              <div class='col-12'>
                <div class="alert alert-danger" role="alert">
                  <span mvc-text='badMessage'></span>  
                </div>
              </div>
            </div>         

            <div class='row'>
              <div class='col-12'>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  {{ buttons.btn(class='primary', mvc_click='save()', text='Update Contact') }}
                  {{ buttons.btn(class='danger', mvc_click='delete()', text='Delete Contact') }}    
                
                  <div class="btn-group dropup" role="group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Actions
                    </button>
                    <div class="dropdown-menu pointer">
                      <span class="dropdown-item" mvc-click='associated()'>Associated</span>
                      <span class="dropdown-item" mvc-click='dymo()'>Dymo label</span>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>            
          </div>
        </div>

      </div>
    </div>

    <div class='d-block d-md-none' style='padding-top: 70px'>
    </div>

    <div class='d-block d-lg-none' style='padding-top: 30px'>
    </div>

    <div class='d-block' style='padding-top: 30px'>
    </div>

    <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-primary d-block d-lg-none" style='padding: .2rem 1rem;'>
      <div class='nav nav-fill'>
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-name'>Name</div>
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-address'>Address</div>
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-contact'>Contact</div>
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-notes'>Notes</div>
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-emergency'>Emergency</div>
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-flags'>Flags</div>        
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-cat'>Category</div>        
        <div class="nav-link text-white pointer" mvc-click='goto()' to='contact-misc'>Misc</div>
      </div>
    </nav>

    {% include "./contact-account.html" %}
    {% include "./contact-dymo.html" %}
    {% include "./contact-assoc.html" %}
  </section>
</page>