{% extends "project/base.html" %}

{% block title %}
  Contacts
{% endblock %}

{% block css %}
<style>
  label.mbsc-mobiscroll.mbsc-input {
    margin: 1.5em 1em .1em 1em !important;
  }
</style>
{% endblock %}

{% block script %}
  <script type="module">
  </script>

  <script type="text/javascript">
  </script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    {% include "./navbar.html" %}
    <div id='qndPages' style='padding-top: 60px'>
      {% include "./main.html" %}
      {% include "./titles.html" %}
    </div>
  </div>
  
  {% include "lib/client/widgets/mdate.html" %}
  {% include "lib/client/widgets/mtime.html" %}
  {% include "lib/client/widgets/multisel.html" %}
  {% include "lib/client/widgets/singlesel.html" %}

  {#% include "apps/login/views/relogin.html" %#}
{% endblock %}

{% block init %}
<script type="module" src="/static/v1/static/apps/contacts/modules/main/module.js">
</script>

<script type="text/javascript">
</script>
{% endblock %}